<h2><b> Tiền xử lý dữ liệu <b></h2>

Sau khi thu thập dữ liệu, ta tiến hành tiền xử lý dữ liệu phục vụ cho phân tích sau này.

Import các thư viện cần thiết.

In [1]:
import numpy as np
import pandas as pd

- Đọc file "population.csv" đã được thu thập ở notebook 1 vào df.

In [24]:
df=pd.read_csv('./population.csv',index_col=0)

- Kiểm tra xem các dòng có bị lặp hay không

In [25]:
len([i for i in df.index.duplicated(keep='first') if i==True])

0

- Kiểm tra lại dữ liệu.

In [26]:
df.head()

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/Km2),UrbanPop%,UrbanPopulation,Country%OfWorldPop,GlobalRank,Country,Continent
0,1955,8270991,1.30,103775,-4000.0,19.2,7.45,13,7.1,587818.0,0.30,48,Afghanistan,Asia
1,1960,8996973,1.70,145196,-4000.0,18.8,7.45,14,8.4,755797.0,0.30,48,Afghanistan,Asia
2,1965,9956320,2.05,191869,-4000.0,18.4,7.45,15,9.9,984350.0,0.30,48,Afghanistan,Asia
3,1970,11173642,2.33,243464,-4000.0,17.9,7.45,17,11.6,1295433.0,0.30,48,Afghanistan,Asia
4,1975,12689160,2.58,303104,-4000.0,17.3,7.45,19,13.5,1717422.0,0.31,48,Afghanistan,Asia

- Kiểm tra lại số dòng và kiểu dữ liệu thuộc tính của các nước.

In [27]:
(row_count,col_count)=df.shape
print(row_count)
df.dtypes

4230

Year                    int64
Population              int64
Yearly%Change         float64
YearlyChange            int64
Migrants(net)         float64
MedianAge             float64
FertilityRate         float64
Density(P/Km2)          int64
UrbanPop%             float64
UrbanPopulation       float64
Country%OfWorldPop    float64
GlobalRank              int64
Country                object
Continent              object
dtype: object

In [28]:
df.describe()

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/Km2),UrbanPop%,UrbanPopulation,Country%OfWorldPop,GlobalRank
count,4230.000000,4.230000e+03,4230.000000,4.230000e+03,3.618000e+03,3618.000000,3618.000000,4230.000000,4111.00000,4.111000e+03,4230.000000,4230.000000
mean,1994.166667,2.423329e+07,1.659778,3.271283e+05,-4.818684e+00,25.474986,3.887186,350.130496,51.26631,1.195420e+07,0.425392,117.183452
std,21.723653,1.063217e+08,1.650514,1.329164e+06,1.060564e+05,8.218262,1.985077,1790.415755,26.02106,4.728656e+07,1.800249,68.058075
min,1955.000000,6.440000e+02,-12.930000,-6.730240e+05,-1.077397e+06,14.400000,0.850000,0.000000,0.00000,0.000000e+00,0.000000,1.000000
25%,1975.000000,2.733908e+05,0.610000,1.201750e+03,-1.228375e+04,18.500000,2.090000,21.000000,30.60000,1.338530e+05,0.000000,58.000000
50%,1997.500000,3.603262e+06,1.530000,3.730850e+04,-9.000000e+02,22.750000,3.400000,72.000000,51.20000,1.547197e+06,0.070000,117.000000
75%,2016.000000,1.276953e+07,2.590000,2.038582e+05,5.000000e+03,31.600000,5.740000,173.750000,72.80000,6.778717e+06,0.250000,176.000000
max,2020.000000,1.439324e+09,23.300000,2.067648e+07,1.771991e+06,48.400000,8.800000,26337.000000,100.00000,8.750759e+08,22.700000,235.000000

- Tính đúng đắn của nguồn: `Đây là nguồn đáng tin cậy được công bố bởi Liên Hợp Quốc.`

<h2> Xử lý các giá trị NaN </h2>

- Xác định các cột chứa giá trị NaN.

In [29]:
col_nan=[x for x in df.columns if len([i for i in df[x] if i!=i])>1 ]
col_nan

['Migrants(net)', 'MedianAge', 'FertilityRate', 'UrbanPop%', 'UrbanPopulation']

<b> Xác định các nước có giá trị NaN </b>

- Vì UrbanPop% đi chung với UrbanPopulation nên ta chỉ cần xác định 1 thuộc tính.

In [30]:
df[df['UrbanPopulation']!=df['UrbanPopulation']]['Country'].unique()

array(['Anguilla', 'Bermuda', 'Cayman Islands', 'Gibraltar', 'Guadeloupe',
       'Holy See', 'Hong Kong', 'Kuwait', 'Macao', 'Monaco', 'Nauru',
       'Northern Mariana Islands', 'Palau', 'Puerto Rico', 'Singapore',
       'Sint Maarten', 'Venezuela'], dtype=object)

- Thuộc tính MedianAge.

In [9]:
df[df['MedianAge']!=df['MedianAge']]['Country'].unique()

array(['American Samoa', 'Andorra', 'Anguilla', 'Bermuda',
       'British Virgin Islands', 'Caribbean Netherlands',
       'Cayman Islands', 'Cook Islands', 'Dominica', 'Faeroe Islands',
       'Falkland Islands', 'Gibraltar', 'Greenland', 'Holy See',
       'Isle of Man', 'Liechtenstein', 'Marshall Islands', 'Monaco',
       'Montserrat', 'Nauru', 'Niue', 'Northern Mariana Islands', 'Palau',
       'Saint Barthelemy', 'Saint Helena', 'Saint Kitts & Nevis',
       'Saint Martin', 'Saint Pierre & Miquelon', 'San Marino',
       'Sint Maarten', 'Tokelau', 'Turks and Caicos', 'Tuvalu',
       'Wallis & Futuna'], dtype=object)

- Thuộc tính Migrants.

In [10]:
df[df['Migrants(net)']!=df['Migrants(net)']]['Country'].unique()

array(['American Samoa', 'Andorra', 'Anguilla', 'Bermuda',
       'British Virgin Islands', 'Caribbean Netherlands',
       'Cayman Islands', 'Cook Islands', 'Dominica', 'Faeroe Islands',
       'Falkland Islands', 'Gibraltar', 'Greenland', 'Holy See',
       'Isle of Man', 'Liechtenstein', 'Marshall Islands', 'Monaco',
       'Montserrat', 'Nauru', 'Niue', 'Northern Mariana Islands', 'Palau',
       'Saint Barthelemy', 'Saint Helena', 'Saint Kitts & Nevis',
       'Saint Martin', 'Saint Pierre & Miquelon', 'San Marino',
       'Sint Maarten', 'Tokelau', 'Turks and Caicos', 'Tuvalu',
       'Wallis & Futuna'], dtype=object)

- Thuộc tính FertilityRate.

In [11]:
df[df['FertilityRate']!=df['FertilityRate']]['Country'].unique()

array(['American Samoa', 'Andorra', 'Anguilla', 'Bermuda',
       'British Virgin Islands', 'Caribbean Netherlands',
       'Cayman Islands', 'Cook Islands', 'Dominica', 'Faeroe Islands',
       'Falkland Islands', 'Gibraltar', 'Greenland', 'Holy See',
       'Isle of Man', 'Liechtenstein', 'Marshall Islands', 'Monaco',
       'Montserrat', 'Nauru', 'Niue', 'Northern Mariana Islands', 'Palau',
       'Saint Barthelemy', 'Saint Helena', 'Saint Kitts & Nevis',
       'Saint Martin', 'Saint Pierre & Miquelon', 'San Marino',
       'Sint Maarten', 'Tokelau', 'Turks and Caicos', 'Tuvalu',
       'Wallis & Futuna'], dtype=object)

Có vẻ như các nước thiếu FertilityRate, MedianAge, Migrants(net) đều giống nhau?

In [12]:
print(df[df['FertilityRate']!=df['FertilityRate']]['Country'].unique() == df[df['Migrants(net)']!=df['Migrants(net)']]['Country'].unique())
print(df[df['MedianAge']!=df['MedianAge']]['Country'].unique() == df[df['Migrants(net)']!=df['Migrants(net)']]['Country'].unique())

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]
[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True]

Từ đó, ta xác định được 2 loại NaN.
 + `missing`: các nước thiếu giá trị FertilityRate, MedianAge, Migrants(net).
 + `missing_priority`: các nước thiếu giá trị UrbanPopulation.

In [33]:
missing = df[df['FertilityRate']!=df['FertilityRate']]['Country'].unique()
missing_priority = df[df['UrbanPopulation']!=df['UrbanPopulation']]['Country'].unique()

['Anguilla' 'Bermuda' 'Cayman Islands' 'Gibraltar' 'Guadeloupe' 'Holy See'
 'Hong Kong' 'Kuwait' 'Macao' 'Monaco' 'Nauru' 'Northern Mariana Islands'
 'Palau' 'Puerto Rico' 'Singapore' 'Sint Maarten' 'Venezuela']

<b> Sử dụng hồi quy thay thế các giá trị bị thiếu </b>

`(Sử dụng hồi quy nhằm dự đoán dữ liệu bị sát với thực tế hơn, đồng thời thực hiện trực quan hóa dễ dàng hơn)`

Xem xét trên df thấy cột UrbanPopulation, UrbanPop% chỉ có thiếu vài giá trị.

- Kiểm tra nước nào không thể dùng hồi quy để thay thế NaN (Các nước không thể hồi quy là các nước bị thiếu dữ liệu nhiều hơn 16).

In [34]:
for x in [i for i in missing_priority] :
    df_=df[df['Country']==x]
    (r,c) = df_[df_['UrbanPopulation']!=df_['UrbanPopulation']].shape
    print(x,r) if r>16 else 0

Holy See 17

- Xử lý riêng cho nước Holy See (Lấy các giá trị không NaN gán cho giá trị bị thiếu).

In [35]:
HolySee_Percent_Urban=[i for i in df.loc[df['Country']=='Holy See']['UrbanPop%'].values if i==i][0] 
for i in df.loc[df['Country']=='Holy See'].index:
    df.at[i,'UrbanPop%']=HolySee_Percent_Urban
    df.at[i,'UrbanPopulation']=round(HolySee_Percent_Urban*df.loc[i]['Population']/100)

99.9

Hồi quy cho các nước còn lại

In [16]:
def regressionFillUrban(df,Country):
    df_=df[df['Country']==Country]
    r=df_[df_['UrbanPopulation']!=df_['UrbanPopulation']].index
    df_=df_[df_['UrbanPopulation']==df_['UrbanPopulation']]
    def estimate_coef(x, y):
        n = np.size(x)
        m_x = np.mean(x)
        m_y = np.mean(y)
        SS_xy = np.sum(y*x) - n*m_y*m_x
        SS_xx = np.sum(x*x) - n*m_x*m_x
        b_1 = SS_xy / SS_xx
        b_0 = m_y - b_1*m_x
        return (b_0, b_1)
    def regression(b,x):
        return b[0] + b[1]*x
    b=estimate_coef(df_['Year'],df_['UrbanPop%'])
    for i in r :
        df.at[i,'UrbanPop%']=min(regression(b,df.loc[i]['Year']),100)
        df.at[i,'UrbanPopulation']=round(df.loc[i]['UrbanPop%']*df.loc[i]['Population']/100,0)
for i in missing_priority:
    regressionFillUrban(df,i)

- Kiểm tra lại nước Venezuela có giá trị NaN đã được thay thế bằng hồi quy.

In [17]:
df[df['Country']=='Venezuela']

,Year,Population,Yearly%Change,YearlyChange,Migrants(net),MedianAge,FertilityRate,Density(P/Km2),UrbanPop%,UrbanPopulation,Country%OfWorldPop,GlobalRank,Country,Continent
4104,1955,6744695,4.23,252543,44015.0,17.3,6.46,8,54.700000,3687084.0,0.24,60,Venezuela,Latin America and the Caribbean
4105,1960,8141841,3.84,279429,15964.0,17.0,6.46,9,61.700000,5019512.0,0.27,53,Venezuela,Latin America and the Caribbean
4106,1965,9692278,3.55,310087,3774.0,16.9,6.18,11,67.900000,6584735.0,0.29,60,Venezuela,Latin America and the Caribbean
4107,1970,11396393,3.29,340823,632.0,17.1,5.70,13,73.100000,8325983.0,0.31,46,Venezuela,Latin America and the Caribbean
4108,1975,13189509,2.97,358623,188.0,17.9,4.94,15,76.800000,10125741.0,0.32,47,Venezuela,Latin America and the Caribbean
4109,1980,15182611,2.85,398620,224.0,18.9,4.47,17,80.000000,12150036.0,0.34,42,Venezuela,Latin America and the Caribbean
4110,1985,17319520,2.67,427382,276.0,19.9,3.96,20,82.800000,14343460.0,0.36,42,Venezuela,Latin America and the Caribbean
4111,1990,19632665,2.54,462629,184.0,20.9,3.65,22,85.300000,16740397.0,0.37,43,Venezuela,Latin America and the Caribbean
4112,1995,21931084,2.24,459684,-454.0,22.0,3.25,25,87.000000,19085299.0,0.38,41,Venezuela,Latin America and the Caribbean
4113,2000,24192446,1.98,452272,-908.0,23.2,2.94,27,88.600000,21441865.0,0.39,40,Venezuela,Latin America and the Caribbean
4114,2005,26432447,1.79,448000,-4548.0,24.5,2.72,30,89.100000,23557733.0,0.40,41,Venezuela,Latin America and the Caribbean
4115,2010,28439940,1.47,401499,-40044.0,25.8,2.55,32,89.900000,25568720.0,0.41,43,Venezuela,Latin America and the Caribbean
4116,2015,30081829,1.13,328378,-86208.0,27.3,2.40,34,91.300000,27464635.0,0.41,45,Venezuela,Latin America and the Caribbean
4117,2016,29851255,-0.77,-230574,-653249.0,27.8,2.38,34,93.200000,27832085.0,0.40,45,Venezuela,Latin America and the Caribbean
4118,2017,29402484,-1.50,-448771,-653249.0,27.8,2.38,33,95.900000,28198251.0,0.39,46,Venezuela,Latin America and the Caribbean
4119,2018,28887118,-1.75,-515366,-653249.0,27.8,2.38,33,98.900000,28562719.0,0.38,48,Venezuela,Latin America and the Caribbean
4120,2019,28515829,-1.29,-371289,-653249.0,27.8,2.38,32,97.805917,27890168.0,0.37,50,Venezuela,Latin America and the Caribbean
4121,2020,28435940,-0.28,-79889,-653249.0,29.6,2.28,32,98.361039,27969886.0,0.36,50,Venezuela,Latin America and the Caribbean

Xem xét sự phân bố giá trị của FertilityRate, MedianAge, Migrants(net) thấy dữ liệu phân bố đều.

Do đó thay thế bằng giá trị trung vị hoặc trung bình đều không hợp lí.

Các nước có dòng thiếu các giá trị này luôn thiếu cả cột giá trị này.

=> không cần xem xét và bỏ qua.

In [18]:
df=df.fillna(0)

Kiểm tra còn cột nào chứa NaN.

In [19]:
[x for x in df.columns if len([i for i in df[x] if i!=i])>1 ]

[]

Về logic nếu có diện tích, dân số, ta có thể tính được mật độ dân số 
Ta bỏ đi cột Density(P/Km2)

In [20]:
df.pop('Density(P/Km2)')

0       13
1       14
2       15
3       17
4       19
        ..
4225    36
4226    37
4227    37
4228    38
4229    38
Name: Density(P/Km2), Length: 4230, dtype: int64

Cập nhật lại file "population.csv".

In [21]:
df.to_csv('./population.csv')